#overlay-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

#trace-canvas {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}

canvas {
	pointer-events: none;
}

body {
	background-color: black;
}

#controls {
	border-radius: 5px;
	max-width: 220px;
	width: 15%;
	min-width: 215px;
	z-index: 0;
	text-align: center;
}


#controls:hover {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

#controls:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}


label {
	font-size: 1.1em;
	color: cornflowerblue;
}

hr	{
	margin-top: -5px;
	border: 1px solid navajowhite;
}

input.spinner {
	border-bottom: 1px solid navajowhite;
	width: 80px;
}

button.waves-light {
	font-size: 12px;
	padding: 0 10 0 10;
	text
}

.control-inputs {
	text-align: left;
	margin-bottom: -20px;
}

.center {
	margin: 0 auto;
}

input	{
	text-align: center;
	width: 100px;
	color: cornflowerblue;
}

fieldset {
	text-align: center;
	border: none;
}
legend {
	border-bottom: none;
	text-align: left;
	font-size: 1.2em;
	color: navajowhite;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
